<div class="container">
  <div class="row">
    <div class="col-md-12 header">
    	<h1>Thank You For Interest in Ecolights!</h1>
		<h2>We will get back to you as soon as possible.</h2>
    </div>
  </div>
</div>

